/* font import link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montserrat:wght@600;700;800;900&display=swap");
/* defult css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
ul,li {
  padding: 0;
  margin: 0;
  list-style: none !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: black !important;
}
body {
  /* background: #22282c !important;
  color: white !important; */
}
/* navbar */
.nav-logo img {
  width: 100px;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: rgb(243, 78, 58) !important;
  text-decoration: line-through !important;
}
.nav-link {
  margin: 0px 14px !important;
  color: black !important;
  align-items: center;
  padding: 0 16px !important;
  line-height: inherit;
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.icon-box {
  display: contents;
}
.icon-box i {
  color: black !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  cursor: pointer;
  margin: 0px 14px;
}
.icon-box2 {
  display: contents;
}
.icon-box2 i {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: rgb(243, 78, 58) !important;
  cursor: pointer;
  margin: 0px 14px;
}
.dropdown-toggle::after {
   
  margin-left: -15px !important;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 8rem !important;
  padding: 0.5rem 10px !important;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: none !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  border-radius: .25rem;
}
.dropdown-menu[data-bs-popper] {
  top: 108%;
  left: 0;
  margin-top: 1.125rem !important;
}
.dropdown-menu a{
  font-size: 14px !important;
  color: black;
  font-weight: 400;
  display: block;
  transition: .5s;
}
.dropdown-menu a:hover{
  color: rgb(243, 78, 58) !important;
  letter-spacing: 1.5px;
}
#light {
  display: none !important;
}
.icon-box i:nth-child(3) {
  font-weight: 600 !important;
  color: rgb(243, 78, 58) !important;
}
.icon-box i:hover {
  color: rgb(243, 78, 58) !important;
  transition: 0.5s;
  cursor: pointer;
}

.navbar {
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: #fff;
}
/* billing-adress */
.billing-adress {
  margin-top: 7%;
}
.form-group {
  margin-bottom: 1rem;
}
.Billing_form__20ngK label {
  color: #555;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 14px !important;
  font-weight: 700;
}
.form-control {
  font-family: Montserrat, sans-serif;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  padding: 14px 24px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 0;
  background-clip: border-box;
  background-clip: initial;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c1ccd3;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out, -moz-box-shadow 0.15s ease-in-out;
}
.Billing_paymentInfo__2Y05y {
  background-color: #f5f5f5;
  padding: 32px;
  height: 100%;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
input.card {
  background: url(../img/credit-card.ad36333736e1c7bae5d9f570fb4f2f28.svg)
    no-repeat 100%;
  -webkit-appearance: none;
  background-position: calc(100% - 15px);
  background-color: #fff;
  padding-right: 55px;
}
.flex-fill {
  -moz-box-flex: 1 !important;
  flex: 1 1 auto !important;
}
select.form-control {
  background: url(../img/chevron-down.40e09b36d30fe69cfd4cfa3e7ad4e58e.svg)
    no-repeat 100%;
  -webkit-appearance: none;
  background-position: calc(100% - 15px);
  background-color: #fff;
}
input.info {
  background: url(../img/question-mark-circle.f3b3d252b9adb86350d75b182e1912f3.svg)
    no-repeat 100%;
  background-position: calc(100% - 15px);
  background-color: #fff;
}
.btn-solid {
    font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
    padding: calc(4px + 8 * ((100vw - 320px) / 1600))
      calc(20px + 30 * ((100vw - 320px) / 1600));
    color: rgb(240, 240, 240) !important;
    background-color: rgb(243, 78, 58);
    font-weight: 500;
    transition: all 0.3s ease 0s;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
  }
  .btn-solid:hover {
    background-color: transparent;
    border: 1px solid rgb(243, 78, 58);
    color: rgb(243, 78, 58) !important;
  }
  .btn-solid::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.5px;
    background-color: inherit;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .btn-solid:hover::after {
    width: 0px;
  }

  /* fotter */
footer {
    background-color: #262626;
    padding: 50px 0;
  }
  .footer-up {
  }
  .footer-up h3 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }
  .footer-up p {
    font-size: 14px;
    font-weight: 300;
    color: #555555;
  }
  .footer-up input {
    font-size: 14px;
    font-weight: 300;
    color: #555555;
    padding: 10px 30px;
    outline: none;
  }
  .footer-up button {
    background: rgb(243, 78, 58);
    padding: 10px;
    outline: none !important;
    border: none;
    color: #fff;
    font-weight: 500;
    margin-left: 15px;
  }
  .footer-middle {
  }
  .middle-left {
  }
  .middle-left h3 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }
  .middle-left p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-top: 21px;
    margin-bottom: 30px;
  }
  .social-icon-footer {
  }
  .social-icon-footer i {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
  }
  .social-icon-footer i:hover {
    color: rgb(243, 78, 58);
  }
  .middle-right {
  }
  .middle-right h3 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }
  .middle-right a {
    font-size: 14px;
    font-weight: 300;
    color: #555555;
    display: block;
  }
  
  /* media quirry mobile responsive */
  @media (min-width: 320px) and (max-width: 1024px) {
    /* header */
    .nav-button {
      color: #fff !important;
    }
    .nav-button span {
      color: #fff !important;
    }
    .icon-box {
      display: flex;
      justify-content: space-between;
    }
    .icon-box i {
      font-size: 20px !important;
      padding: 14px;
    }


     /* footer */
  .footer-up p {
    font-size: 10px;
    font-weight: 300;
    color: #555555;
}
.footer-up input {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  padding: 10px 30px;
  outline: none;
  position: relative;
  left: -42px;
}
.footer-up button {
  background: rgb(243, 78, 58);
  padding: 10px;
  outline: none !important;
  border: none;
  color: #fff;
  font-weight: 500;
  margin-left: 15px;
  position: relative;
  right: 38px;
}
footer {
  background-color: #262626;
  padding: 50px 0;
  text-align: center;
}
.middle-left p {
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 12px;
}
.social-icon-footer {
  padding: 20px 0;
}
.middle-right a {
  font-size: 12px;
  font-weight: 300;
  color: #555555;
  display: block;
  margin-bottom: 10px;
}
.billing-adress {
    margin-top: 22%;
}
}
  
