/* font import link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montserrat:wght@600;700;800;900&display=swap");
/* defult css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: black !important;
}
body {
  /* background: #22282c !important;
  color: white !important; */
}
/* navbar */
.nav-logo img {
  width: 100px;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: rgb(243, 78, 58) !important;
  text-decoration: line-through !important;
}
.nav-link {
  margin: 0px 14px !important;
  color: black !important;
  align-items: center;
  padding: 0 16px !important;
  line-height: inherit;
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.icon-box {
  display: contents;
}
.icon-box i {
  color: black !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  cursor: pointer;
  margin: 0px 14px;
}
.icon-box2 {
  display: contents;
}
.icon-box2 i {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: rgb(243, 78, 58) !important;
  cursor: pointer;
  margin: 0px 14px;
}
.dropdown-toggle::after {
   
  margin-left: -15px !important;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 8rem !important;
  padding: 0.5rem 10px !important;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: none !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  border-radius: .25rem;
}
.dropdown-menu[data-bs-popper] {
  top: 108%;
  left: 0;
  margin-top: 1.125rem !important;
}
.dropdown-menu a{
  font-size: 14px !important;
  color: black;
  font-weight: 400;
  display: block;
  transition: .5s;
}
.dropdown-menu a:hover{
  color: rgb(243, 78, 58) !important;
  letter-spacing: 1.5px;
}
#light {
  display: none !important;
}
.icon-box i:nth-child(3) {
  font-weight: 600 !important;
  color: rgb(243, 78, 58) !important;
}
.icon-box i:hover {
  color: rgb(243, 78, 58) !important;
  transition: 0.5s;
  cursor: pointer;
}

.navbar {
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: #fff;
}
/* carousel */
.carousel-item {
  position: relative;
}
.carousel-item img {
  width: 103%;
}
.carousel-text {
  position: absolute;
  top: 25%;
  text-align: center;
  left: 32%;
}
.carousel-text h1 {
  font-weight: 300;
  color: rgb(38, 40, 52) !important;
}
.carousel-text h1 strong {
  font-weight: 600;
  color: rgb(38, 40, 52) !important;
}
.carousel-text h1 span {
  font-weight: 600;
  color: rgb(243, 78, 58) !important;
}
.carousel-text p {
  max-width: 584px;
  color: rgb(118, 118, 118);
  margin: calc(0px + 18 * ((100vw - 320px) / 1600)) auto
    calc(10px + 30 * ((100vw - 320px) / 1600));
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  font-weight: normal;
  line-height: calc(18px + 12 * ((100vw - 320px) / 1600));
  margin-bottom: 50px;
}
.btn-solid {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  padding: calc(4px + 8 * ((100vw - 320px) / 1600))
    calc(20px + 30 * ((100vw - 320px) / 1600));
  color: rgb(240, 240, 240) !important;
  background-color: rgb(243, 78, 58);
  font-weight: 500;
  transition: all 0.3s ease 0s;
  position: relative;
}
.btn-solid:hover {
  background-color: transparent;
  border: 1px solid rgb(243, 78, 58);
  color: rgb(243, 78, 58) !important;
}
.btn-solid::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: inherit;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.btn-solid:hover::after {
  width: 0px;
}

/* category */
.catagories {
  padding: calc(15px + 9 * ((100vw - 320px) / 1600));
  box-shadow: rgba(240, 240, 240, 0.1) 0px 0px 5px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease 0s;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.catagories .leaf-shape {
  position: absolute;
  width: 27%;
  bottom: 2px;
  mix-blend-mode: color-dodge;
  opacity: 0;
  left: -100px;
  transition: all 0.6s ease 0s;
}
.catagories a {
  display: block;
  text-align: center;
  color: black;
  transition: all 0.5s ease 0s;
}
.catagories a .img-wrap {
  text-align: center;
  position: relative;
  margin: calc(25px + 9 * ((100vw - 320px) / 1600)) auto;
  width: calc(36px + 14 * ((100vw - 320px) / 1600));
}
.catagories a .img-wrap img {
  /* filter: invert(1); */
}
.catagories a .img-wrap img {
  width: 100%;
  position: relative;
  z-index: 2;
  max-height: 49.5px;
}
.catagories a .img-wrap::after {
  position: absolute;
  content: "";
  top: 0px;
  right: -10px;
  width: calc(36px + 21 * ((100vw - 320px) / 1600));
  height: calc(36px + 21 * ((100vw - 320px) / 1600));
  border-radius: 100%;
  opacity: 0.1;
  z-index: 1;
  transition: all 0.6s ease 0s;
}
.catagories a .btn-box {
  position: relative;
}
.catagories a .btn-box .catagories-name {
  display: inline-block;
  padding: 6px calc(5px + 29 * ((100vw - 320px) / 1600));
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid black;
  transition: all 0.6s ease 0s;
}
.catagories a .btn-box .btn-special {
  transition: all 0.6s ease 0s;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}
.btn-special {
  border-style: solid;
  padding: 6px 32px;
  font-size: 12px;
  border-width: 2px;
}
.btn-special::after {
  height: 2px;
  background-color: rgb(34, 40, 44);
  bottom: -8px;
}
.catagories:hover,
.catagories > a:active {
  filter: invert(1);
  background-color: rgb(243, 78, 58) !important;
}

.catagories-section .catagories:hover .leaf-shape,
.catagories-section .catagories > a:active .leaf-shape {
  opacity: 1;
  left: 2px;
  filter: brightness(2);
}
[class="dark"] .catagories-section .catagories:hover .img-wrap::after,
[class="dark"] .catagories-section .catagories > a:active .img-wrap::after {
  filter: brightness(40);
}
.catagories-section .catagories:hover .btn-box .catagories-name,
.catagories-section .catagories > a:active .btn-box .catagories-name {
  transform: translateY(100px);
  color: black;
}
.catagories-section .catagories:hover .btn-box .btn-special,
.catagories-section .catagories > a:active .btn-box .btn-special {
  padding: calc(3px + 3 * ((100vw - 320px) / 1600))
    calc(20px + 0 * ((100vw - 320px) / 1600));
  bottom: 6px;
  line-height: calc(20px + 9 * ((100vw - 320px) / 1600));
}
.catagories-section .row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* "new-arrivals-section */
.new-arrivals-section {
  padding: 50px 0;
}
.arrivals-heading {
  font-size: 25px;
  font-weight: 700;
}
.arrivals-sub {
  font-size: 14px;
  font-weight: 300;
  margin: 20px;
}
.card {
  /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important; */
  border-radius: 15px !important;
  background: rgb(255, 255, 255, 0.1) !important;
  border-top: 1px solid rgba(240, 240, 240, 0.5) !important;
  border-left: 1px solid rgba(240, 240, 240, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  cursor: pointer;
}
.card-top-img {
  position: relative;
}

.card-icon {
  position: absolute;
  top: 5%;
  right: 10px;
  font-size: 18px;
  display: none;
  transition: 0.3s;
}
.card-icon i {
  margin-bottom: 10px;
  color: rgb(243, 78, 58);
}

.card-top-img img {
  border-radius: 15px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: 100%;
  /* width: 245px; */
  /* height: 265px; */
}
.card-body1 {
  padding: 20px;
}
.card-body1 .type {
  color: rgb(0 255 231) !important;
  margin-top: -10px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}
.card-body1 .product-name {
  font-size: 16px;
  font-weight: 700;
}
.card-body1 .price {
  font-size: 16px;
  font-weight: 400;
  margin: 0 !important;
}
.card:hover .product-name {
  color: rgb(243, 78, 58);
}
.card:hover .card-icon {
  display: block;
}
.view-more-button {
}
.view-more-button button {
  color: #bd744c;
  border-color: #bd744c !important;
  margin-top: 3rem !important;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 14px 42px !important;
}
.view-more-button button:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #bd744c;
}
.view-more-button button:hover {
  color: #fff;
  background-color: #bd744c;
  border-color: #bd744c;
}
.view-more-button button:hover .view-more-button button:after {
  width: 100% !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* coming soon */
.coming-soon {
  padding: 30px 0;
}
.coming-banner {
  position: relative;
}
.content-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content-box .heading-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}
.content-box .heading-wrap .span-1 {
  font-weight: normal;
  font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(27px + (46 - 27) * ((100vw - 320px) / (1920 - 320)));
  color: #262834;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  letter-spacing: 0.25em;
  margin-bottom: -24px;
}
.content-box .heading-wrap .span-2,
.content-box .heading-wrap .span-3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: calc(0px + (110 - 0) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(27px + (134 - 27) * ((100vw - 320px) / (1920 - 320)));
  color: #262834;
  font-family: "Montserrat", sans-serif;
  margin-bottom: -32px;
}
.content-box .heading-wrap .span-4 {
  font-family: "Leckerli One", "cursive";
  font-weight: normal;
  font-size: calc(0px + (119 - 0) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(45px + (130 - 45) * ((100vw - 320px) / (1920 - 320)));
  color: rgb(243, 78, 58);
  -webkit-transform: rotate(-22.89deg);
  transform: rotate(-22.89deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  margin-top: -0.3em;
  margin-bottom: 0.3em;
  position: relative;
  right: 13px;
}
.content-box .site-button {
  font-weight: normal;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(15px + (29 - 15) * ((100vw - 320px) / (1920 - 320)));
  padding: calc(0px + (9 - 0) * ((100vw - 320px) / (1920 - 320)));
  display: block;
  text-align: center;
  background-color: #262834;
  color: #fff;
  margin-top: calc(0px + (10 - 0) * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}
.content-box .site-button .pointer {
  right: 20px;
  bottom: calc(-16px + (-35 + 16) * ((100vw - 320px) / (1920 - 320)));
  position: absolute;
  width: calc(16px + (37 - 16) * ((100vw - 320px) / (1920 - 320)));
  height: auto;
}

/* brand we love */
.brand-we-love {
  padding: 50px 0;
}
.title-box .unique-heading {
  font-weight: 600;
  font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(32px + (45 - 32) * ((100vw - 320px) / (1920 - 320)));
  color: black;
  position: relative;
  display: inline-block;
}
.title-box .title-divider1 {
  width: calc(110px + (160 - 110) * ((100vw - 320px) / (1920 - 320)));
  height: 2px;
  background-color: rgb(243, 78, 58);
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2px;
  margin: calc(2px + (4.5 - 2) * ((100vw - 320px) / (1920 - 320))) auto;
}
.title-box .title-divider1 .squre {
  width: calc(8px + (9 - 8) * ((100vw - 320px) / (1920 - 320)));
  height: calc(8px + (9 - 8) * ((100vw - 320px) / (1920 - 320)));
  display: block;
  position: relative;
  background-color: rgb(243, 78, 58);
}
.title-box .title-divider1 .squre:first-of-type::after {
  left: -14px;
}
.title-box .title-divider1 .squre:last-of-type::after {
  right: -14px;
}
.title-box .title-divider1 .squre::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: inherit;
}
.title-box p {
  color: #555 !important;
  font-size: 14px;
  font-weight: 300;
}
.brand-banner {
  position: relative;
}
.sale-card {
  position: absolute;
  width: 270px;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sale-card .sale-card-wrap {
  padding: 17px;
  position: relative;
  z-index: 2;
}
.sale-card .sale-card-wrap .sale-name {
  padding: 8px;
  text-align: center;
  margin-bottom: calc(6px + (14 - 6) * ((100vw - 320px) / (1920 - 320)));
}
.bg-theme-sun {
  background-color: #ffba00 !important;
}
.sale-card .sale-card-wrap .sale-name h5 {
  font-weight: 600;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: 23px;
  color: #22282c;
}
.sale-card .sale-card-wrap .sale-title {
  text-align: center;
  margin-bottom: 8px;
}
.sale-card .sale-card-wrap .sale-title .mega {
  font-weight: 800;
  font-size: calc(14px + (36 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: 28px;
  color: #f0f0f0;
  margin-bottom: calc(0px + (10 - 0) * ((100vw - 320px) / (1920 - 320)));
  font-family: "Montserrat", sans-serif;
}
.sale-card .sale-card-wrap .sale-title span {
  font-weight: normal;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: 26px;
  color: rgb(243, 78, 58);
}
.sale-card .sale-card-wrap .offer {
  text-align: center;
}
.sale-card .sale-card-wrap .offer .upto {
  display: block;
  position: relative;
  margin-bottom: calc(-10px + (-6 + 10) * ((100vw - 320px) / (1920 - 320)));
}
.sale-card .sale-card-wrap .offer .upto span {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: #f0f0f0;
  background-color: #22282c;
  padding: 0 7px;
  z-index: 2;
  position: relative;
}
.sale-card .sale-card-wrap .offer .upto::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2px;
  background-color: #404040;
}
.sale-card .sale-card-wrap .offer h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3px;
  font-weight: bold;
  font-size: calc(50px + (120 - 50) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(42px + (90 - 42) * ((100vw - 320px) / (1920 - 320)));
  margin: 15px 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(243, 78, 58);
}
.sale-card .sale-card-wrap .offer h5 > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3px;
}
.sale-card .sale-card-wrap .offer h5 > span .percent {
  font-weight: bold;
  font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
  line-height: 23px;
}
.sale-card .sale-card-wrap .offer h5 > span .off {
  font-weight: bold;
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  line-height: 37px;
}
.sale-card .sale-card-wrap .code {
  text-align: center;
}
.sale-card .sale-card-wrap .code p {
  margin-bottom: 14px;
  font-weight: normal;
  font-size: calc(13px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: 18px;
  color: #f0f0f0;
}
.sale-card .sale-card-wrap .code h5 {
  font-weight: 600;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: 22px;
  color: rgb(243, 78, 58);
  margin-top: -1px;
  margin-bottom: calc(-5px + (-3 + 5) * ((100vw - 320px) / (1920 - 320)));
}
.sale-card .sale-card-wrap::after {
  content: "";
  position: absolute;
  mix-blend-mode: normal;
  opacity: 0.8;
  inset: 0;
  -webkit-box-shadow: 0px 4px 50px rgba(240, 240, 240, 0.2);
  box-shadow: 0px 4px 50px rgba(240, 240, 240, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #22282c;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.title-line {
  font-weight: 500;
  font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
  line-height: 29px;
  text-align: left;
  color: black;
  position: relative;
  margin-top: -4px;
  margin-bottom: -4px;
}
.title-line span {
  padding-right: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.title-line::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #404040;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.product-card-side.product-side2 {
  margin-left: calc(-12px + (-28 + 12) * ((100vw - 320px) / (1920 - 320)));
}
.product-card-side.product-side2 {
  padding: 60px 50px;
  gap: 24px;
  position: relative;
  display: flex;
}
.product-card-side.product-side2 .img-wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(80px + (80 - 80) * ((100vw - 320px) / (1920 - 320)));
  flex: 0 0 calc(80px + (80 - 80) * ((100vw - 320px) / (1920 - 320)));
}
.product-card-side.product-side2 .content-box {
  height: 50%;
  padding: 0;
  left: 58%;
}
.product-card-side .content-box {
  padding: 15px;
  overflow: hidden;
  /* width: 100%; */
  margin-bottom: calc(-4px + (-3 + 4) * ((100vw - 320px) / (1920 - 320)));
}
.product-card-side .content-box > a {
  display: block;
}
.product-card-side .content-box p {
  color: #767676;
}
.product-card-side .content-box p {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(19px + (23 - 19) * ((100vw - 320px) / (1920 - 320)));
  color: black;
  margin-bottom: calc(0px + (10 - 0) * ((100vw - 320px) / (1920 - 320)));
}
.product-card-side .content-box h5 {
  font-weight: normal;
  font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: #ffba00;
  margin-bottom: calc(0px + (5 - 0) * ((100vw - 320px) / (1920 - 320)));
}
.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-card-side .content-box a span {
  color: black;
  margin-right: calc(3px + (10 - 3) * ((100vw - 320px) / (1920 - 320)));
}
.product-card-side .content-box a span,
.product-card-side .content-box a del {
  display: inline-block;
  font-weight: 600;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
  margin-top: calc(7px + (0 - 7) * ((100vw - 320px) / (1920 - 320)));
}
.product-card-side .content-box a del {
  color: rgb(243, 78, 58);
}
.product-card-side.product-side2::after {
  width: calc(
    100% - calc(108px + (123 - 108) * ((100vw - 320px) / (1920 - 320)))
  );
}
.product-card-side.product-side2::after {
  position: absolute;
  right: 0;
  bottom: 0px;
  content: "";
  height: 1px;
  background-color: #404040;
  width: calc(
    100% - calc(97px + (140 - 97) * ((100vw - 320px) / (1920 - 320)))
  );
}

/* instragram section */
.intagram-card {
  overflow: hidden;
  width: 300px;
  height: 249px;
  margin-top: 40px;
  padding: 50px 0;
}
.intagram-card .img-box {
  position: relative;
}
.bg-size {
  background-image: url(./img/10.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
.ratio_94 .bg-size:before {
  padding-top: 94%;
  content: "";
  display: block;
}
.intagram-card .img-box .on-hover {
  position: absolute;
  inset: 0;
  z-index: 2;
}
.intagram-card .img-box .on-hover .content-box {
  position: relative;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #22282cac;
}
.intagram-card .img-box .on-hover .content-box .share {
  display: flex;

  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  line-height: 23px;
  font-weight: 500;
  letter-spacing: 0.475em;
  color: #fff;
  position: absolute;
  top: calc(34px + (69 - 34) * ((100vw - 320px) / (1920 - 320)));
  left: -40px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.5s 0.4s ease;
  transition: all 0.5s 0.4s ease;
}
.intagram-card .img-box .on-hover .content-box .share span {
  padding: 3px;
  background-color: #fff;
  border-radius: 2px;

  display: flex;
}

.intagram-card .img-box .on-hover .content-box .share span svg {
  width: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
  height: calc(11px + (18 - 11) * ((100vw - 320px) / (1920 - 320)));
  stroke: rgb(243, 78, 58);
}
.intagram-card .img-box .on-hover .content-box .option-box {
  display: table-cell;
  vertical-align: middle;
}
.intagram-card .img-box .on-hover .content-box p {
  margin-bottom: 0;
  color: #fff;
  font-weight: normal;
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
  line-height: 23px;
}
.intagram-card .img-box .on-hover .content-box .option-box h5 {
  font-weight: 600;
  font-size: calc(9px + (22 - 9) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
}
.intagram-card .img-box .on-hover .content-box .option-box .price {
  font-weight: 600;
  font-size: calc(9px + (22 - 9) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
}
.intagram-card .img-box .on-hover .content-box .option-box .control {
  margin-top: calc(4px + (15 - 4) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));

  display: flex;

  align-items: center;
  gap: 5px;

  justify-content: center;
}
.intagram-card .img-box .on-hover .content-box .option-box .control a {
  padding: calc(2px + (11 - 2) * ((100vw - 320px) / (1920 - 320)))
    calc(4px + (12 - 4) * ((100vw - 320px) / (1920 - 320)));
  border-style: solid;
  border-width: 2px;
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.intagram-card .img-box .on-hover .content-box .option-box .control a {
  padding: calc(2px + (11 - 2) * ((100vw - 320px) / (1920 - 320)))
    calc(4px + (12 - 4) * ((100vw - 320px) / (1920 - 320)));
  border-style: solid;
  border-width: 2px;
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.intagram-card .img-box .on-hover .content-box .option-box > .btn-special {
  padding: 6px calc(9px + (32 - 9) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 6px;
  color: #fff;
}

.intagram-card:hover .img-box .on-hover .content-box {
  opacity: 1;
  cursor: pointer;
}
.intagram-card:hover .img-box .on-hover .content-box .share {
  opacity: 1;
}
[class="dark"] .btn-solid:hover,
[class="dark"] .btn-outline:hover,
[class="dark"] .btn-special:hover {
  color: #f0f0f0 !important;
}

/* shipping-section */
.shipping-section {
  padding: 50px 0;
}
.shipping-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipping-box i {
  display: block;
  font-weight: 600;
  font-size: 48px;
}
.shipping-text {
  margin-left: 20px;
}
.shipping-text h3 {
}
.shipping-text p {
  color: #a9a9a9;
}
/* fotter */
footer {
  background-color: #262626;
  padding: 50px 0;
}
.footer-up {
}
.footer-up h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.footer-up p {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
}
.footer-up input {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  padding: 10px 30px;
  outline: none;
}
.footer-up button {
  background: rgb(243, 78, 58);
  padding: 10px;
  outline: none !important;
  border: none;
  color: #fff;
  font-weight: 500;
  margin-left: 15px;
}
.footer-middle {
}
.middle-left {
}
.middle-left h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.middle-left p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-top: 21px;
  margin-bottom: 30px;
}
.social-icon-footer {
}
.social-icon-footer i {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
}
.social-icon-footer i:hover {
  color: rgb(243, 78, 58);
}
.middle-right {
}
.middle-right h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.middle-right a {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  display: block;
}

/* media quirry mobile responsive */
@media (min-width: 320px) and (max-width: 1024px) {
  /* header */
  .nav-button {
    color: #fff !important;
  }
  .nav-button span {
    color: #fff !important;
  }
  .icon-box {
    display: flex;
    justify-content: space-between;
  }
  .icon-box i {
    font-size: 20px !important;
    padding: 14px;
  }
  /* banner */
  section.banner {
    margin-top: 15%;
  }
  .carousel-text {
    position: absolute;
    top: 12%;
    text-align: center;
    left: 0;
  }
  .carousel-text p {
    max-width: 584px;
    margin-bottom: 10px;
    font-size: 10px;
    width: 50%;
  }
  .carousel-text h1 {
    font-weight: 400;
    font-size: 16px;
    color: rgb(38, 40, 52) !important;
  }
  .carousel-indicators {
    display: none !important;
  }
  .coming-banner img {
    height: 180px !important;
  }
  .content-box .heading-wrap .span-1 {
    letter-spacing: 2px;
    margin-bottom: -5px;
    margin-top: 29px;
    margin-bottom: 15px;
  }
  .content-box .heading-wrap .span-2,
  .content-box .heading-wrap .span-3 {
    margin-bottom: 35px;
    font-size: 45px;
    line-height: 0px;
  }
  .content-box .heading-wrap .span-4 {
    margin-top: -0.3em;
    margin-bottom: 0.3em;
    position: relative;
    right: 7px;
    font-size: 42px;
    top: -24px;
  }
  .content-box {
    position: absolute;
    left: 50%;
    top: 43%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content-box .site-button {
    position: relative;
    right: -4px;
    top: -18px;
    font-size: 8px;
  }
  .content-box .site-button .pointer {
    right: 60px;
    height: auto;
    top: -70px;
    width: 13px;
  }
  .sale-card {
    left: 16%;
  }
  .title-line {
    margin-top: 20px;
    margin-bottom: -4px;
    margin-left: 12px;
  }
  .product-card-side.product-side2 {
    padding: 28px 20px;
    gap: 5px;
    position: relative;
    display: flex;
  }
  .shipping-box i {
    display: block;
    font-weight: 600;
    font-size: 28px;
  }
  .shipping-text h3 {
    font-size: 16px;
  }
  .shipping-text p {
    color: #a9a9a9;
    font-size: 10px;
  }

  /* footer */
  .footer-up p {
    font-size: 10px;
    font-weight: 300;
    color: #555555;
  }
  .footer-up input {
    font-size: 14px;
    font-weight: 300;
    color: #555555;
    padding: 10px 30px;
    outline: none;
    position: relative;
    left: -42px;
  }
  .footer-up button {
    background: rgb(243, 78, 58);
    padding: 10px;
    outline: none !important;
    border: none;
    color: #fff;
    font-weight: 500;
    margin-left: 15px;
    position: relative;
    right: 38px;
  }
  footer {
    background-color: #262626;
    padding: 50px 0;
    text-align: center;
  }
  .middle-left p {
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 12px;
  }
  .social-icon-footer {
    padding: 20px 0;
  }
  .middle-right a {
    font-size: 12px;
    font-weight: 300;
    color: #555555;
    display: block;
    margin-bottom: 10px;
  }
}
