/* font import link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montserrat:wght@600;700;800;900&display=swap");
/* defult css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
ul {
  padding: 0 !important;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: black !important;
}
body {
  /* background: #22282c !important;
  color: white !important; */
}
/* navbar */
.nav-logo img {
  width: 100px;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: rgb(243, 78, 58) !important;
  text-decoration: line-through !important;
}
.nav-link {
  margin: 0px 14px !important;
  color: black !important;
  align-items: center;
  padding: 0 16px !important;
  line-height: inherit;
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.icon-box {
  display: contents;
}
.icon-box i {
  color: black !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  cursor: pointer;
  margin: 0px 14px;
}
#light {
  display: none !important;
}
.icon-box i:nth-child(3) {
  font-weight: 600 !important;
  color: rgb(243, 78, 58) !important;
}
.icon-box i:hover {
  color: rgb(243, 78, 58) !important;
  transition: 0.5s;
  cursor: pointer;
}
.navbar {
  position: relative;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 40%);
  background: #fff;
}

/* shop */
.shop {
  margin-top: 7%;
}

.category-title {
  font-weight: 700;
  font-size: 18px;
  color: #262626;
  margin-bottom: 42px;
}
.select-box {
  margin-bottom: 14px;
}
.select-box input {
  width: 16px !important;
  height: 16px !important;
}
.select-box label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
  position: relative;
  top: -2px;
  cursor: pointer;
}
/* details-header */
.details-header {
  margin-top: 6%;
}
.details-header a {
  padding-right: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #7b7b7b;
}

/* details section */
.details-section {
  padding: 50px 0;
}
.details-img {
}
.details-img img {
  max-width: 100%;
}
.details-info {
}
.details-info span {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
}
.details-info h3 {
  font-size: 21px;
  font-weight: 700;
  margin-top: 18px;
  color: #262626;
  margin-bottom: 16px;
}
.details-info p {
  font-size: 14px;
  font-weight: 300;
  color: #262626;
  margin-bottom: 50px;
}
.star-icon-box {
  margin-bottom: 24px;
}
.star-icon-box i {
  color: #ffba00;
}
.blank {
  color: #9d9d9d !important;
}
.star-icon-box span {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  color: #262834;
}
.price-box {
  display: flex;
}
.price-box h2 {
  font-size: 14px;
  font-weight: 700;
  color: #555555;
}
.price-box span {
  color: #262626;
  font-size: 14px;
  font-weight: 700;
}
.quantity {
  margin-right: 60px;
  text-align: center;
}
.quantity i {
  color: #555555;
  font-size: 12px;
  padding: 0px 10px;
  cursor: pointer;
}
.quantity span {
}
.size-box {
  margin-top: 30px;
}
.size-box h2 {
  font-size: 14px;
  font-weight: 700;
  color: #555555;
}
.size {
  width: 40px;
  background: rgb(255, 255, 255);
  color: #555555;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  padding: 5px;
}
.sizeHover {
  width: 40px;
  background: rgb(243, 78, 58);
  color: white;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  padding: 5px;
}
.counter {
  margin-top: 30px;
}
.counter h2 {
  color: #262626;
  font-size: 14px;
  font-weight: 700;
}
.sale-end {
  display: flex;
}
.end-box {
  margin: 10px;
  width: 80px;
  text-align: center;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.end-box p {
  margin-bottom: 0;
  font-weight: 700;
  color: rgb(243, 78, 58);
  font-size: 18px;
}
.product-button {
  margin-top: 120px;
}
.btn-solid {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  padding: calc(6px + 8 * ((114vw - 320px) / 1600))
    calc(20px + 28 * ((100vw - 320px) / 1600));
  color: rgb(240, 240, 240) !important;
  background-color: rgb(243, 78, 58);
  font-weight: 500;
  transition: all 0.3s ease 0s;
  position: relative;
  width: 200px !important;
  padding: 10px 15%;
}
.btn-solid:hover {
  background-color: transparent;
  border: 1px solid rgb(243, 78, 58);
  color: rgb(243, 78, 58) !important;
}
.btn-solid::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: inherit;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.btn-solid:hover::after {
  width: 0px;
}

.btn-solid1 {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  padding: calc(6px + 8 * ((114vw - 320px) / 1600))
    calc(20px + 28 * ((100vw - 320px) / 1600));
  color: rgb(243, 78, 58);
  background-color: transparent;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  border: 1px solid rgb(243, 78, 58);
  position: relative;
  width: 200px !important;
  padding: 10px 15%;
  margin-left: 30px;
}
.btn-solid1:hover {
  background-color: rgb(243, 78, 58);
  border: none;
  color: #fff !important;
}
.btn-solid1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(243, 78, 58);
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.btn-solid1:hover::after {
  width: 0px;
}

/* review-section */
.review-section {
  padding: 50px 0;
}
.review-header {
  display: flex;
  justify-content: space-between;
}
.review-header h3 {
  font-size: 21px;
  font-weight: 700;
  color: #262626;
}
.btn-modal {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: rgb(243, 78, 58) !important;
  outline: none;
  border: none !important;
  background: transparent;
}
.modal-content {
  padding: 20px;
  border: none !important;
}
.modal-content input {
  height: 40px;
  margin: 10px 0;
  border: 1px solid #ddd;
  outline: none;
  padding-left: 10px;
}
.modal-content textarea {
  border: 1px solid #ddd;
  outline: none;
  padding-left: 10px;
}
.btn-post {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  padding: calc(4px + 8 * ((100vw - 320px) / 1600))
    calc(20px + 30 * ((100vw - 320px) / 1600));
  color: rgb(240, 240, 240) !important;
  background-color: rgb(243, 78, 58);
  font-weight: 500;
  transition: all 0.3s ease 0s;
  position: relative;
  text-align: center;
  margin: 10px 0;
}
.btn-post:hover {
  background-color: transparent;
  border: 1px solid rgb(243, 78, 58);
  color: rgb(243, 78, 58) !important;
}
.btn-post::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: inherit;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.btn-post:hover::after {
  width: 0px;
}
.review-box {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.review-img {
  margin-right: 3%;
}
.review-img img {
  width: 132px;
}
.review-text {
}
.review-text-header {
  display: flex;
  justify-content: space-between;
}
.review-text-header h3 {
  font-size: 14px;
  font-weight: 700;
  color: #262626;
}
.review-text-header p {
  font-size: 14px;
  font-weight: 300;
  color: #555 !important;
}
.review-text p {
  font-size: 14px;
  font-weight: 300;
  color: #262626 !important;
}
/* like-slider-section */
.like-slider-section {
  padding: 50px 0;
}
.like-s-title {
  font-size: 21px;
  font-weight: 700;
  color: #262626;
}
.card {
  /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important; */
  border-radius: 15px !important;
  background: rgb(255, 255, 255, 0.1) !important;
  border-top: 1px solid rgba(240, 240, 240, 0.5) !important;
  border-left: 1px solid rgba(240, 240, 240, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  cursor: pointer;
}
.card-top-img {
  position: relative;
}

.card-icon {
  position: absolute;
  top: 5%;
  right: 10px;
  font-size: 18px;
  display: none;
  transition: 0.7s !important;
}
.card-icon i {
  margin-bottom: 10px;
  color: rgb(243, 78, 58);
  transition: 0.07s !important;
}

.card-top-img img {
  border-radius: 15px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: 100%;
  /* width: 245px; */
  /* height: 265px; */
}
.card-body1 {
  padding: 20px;
}
.card-body1 .type {
  color: #555 !important;
  margin-top: -10px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}
.card-body1 .product-name {
  font-size: 16px;
  font-weight: 700;
}
.card-body1 .price {
  font-size: 16px;
  font-weight: 400;
  margin: 0 !important;
}
.card:hover .product-name {
  color: rgb(243, 78, 58);
}
.card:hover .card-icon {
  display: block;
  transition: 0.7s !important;
}
/* shipping-section */
.shipping-section {
  padding: 50px 0;
}
.shipping-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipping-box i {
  display: block;
  font-weight: 600;
  font-size: 48px;
}
.shipping-text {
  margin-left: 20px;
}
.shipping-text h3 {
}
.shipping-text p {
  color: #a9a9a9;
}
/* instragram section */
.title-box .unique-heading {
  font-weight: 600;
  font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(32px + (45 - 32) * ((100vw - 320px) / (1920 - 320)));
  color: black;
  position: relative;
  display: inline-block;
}
.title-box .title-divider1 {
  width: calc(110px + (160 - 110) * ((100vw - 320px) / (1920 - 320)));
  height: 2px;
  background-color: rgb(243, 78, 58);
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2px;
  margin: calc(2px + (4.5 - 2) * ((100vw - 320px) / (1920 - 320))) auto;
}
.title-box .title-divider1 .squre {
  width: calc(8px + (9 - 8) * ((100vw - 320px) / (1920 - 320)));
  height: calc(8px + (9 - 8) * ((100vw - 320px) / (1920 - 320)));
  display: block;
  position: relative;
  background-color: rgb(243, 78, 58);
}
.title-box .title-divider1 .squre:first-of-type::after {
  left: -14px;
}
.title-box .title-divider1 .squre:last-of-type::after {
  right: -14px;
}
.title-box .title-divider1 .squre::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: inherit;
}
.title-box p {
  color: #555 !important;
  font-size: 14px;
  font-weight: 300;
  margin-top: 14px;
}
.title-box.text-center {
  margin-bottom: -76px;
}
.intagram-card {
  overflow: hidden;
  width: 300px;
  height: 249px;
  margin-top: 40px;
  padding: 50px 0;
}
.intagram-card .img-box {
  position: relative;
}
.bg-size {
  background-image: url(./img/10.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
.ratio_94 .bg-size:before {
  padding-top: 94%;
  content: "";
  display: block;
}
.intagram-card .img-box .on-hover {
  position: absolute;
  inset: 0;
  z-index: 2;
}
.intagram-card .img-box .on-hover .content-box {
  position: relative;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #22282cac;
}
.intagram-card .img-box .on-hover .content-box .share {
  display: flex;

  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  line-height: 23px;
  font-weight: 500;
  letter-spacing: 0.475em;
  color: #fff;
  position: absolute;
  top: calc(34px + (69 - 34) * ((100vw - 320px) / (1920 - 320)));
  left: -40px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.5s 0.4s ease;
  transition: all 0.5s 0.4s ease;
}
.intagram-card .img-box .on-hover .content-box .share span {
  padding: 3px;
  background-color: #fff;
  border-radius: 2px;

  display: flex;
}

.intagram-card .img-box .on-hover .content-box .share span svg {
  width: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
  height: calc(11px + (18 - 11) * ((100vw - 320px) / (1920 - 320)));
  stroke: rgb(243, 78, 58);
}
.intagram-card .img-box .on-hover .content-box .option-box {
  display: table-cell;
  vertical-align: middle;
}
.intagram-card .img-box .on-hover .content-box p {
  margin-bottom: 0;
  color: #fff;
  font-weight: normal;
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
  line-height: 23px;
}
.intagram-card .img-box .on-hover .content-box .option-box h5 {
  font-weight: 600;
  font-size: calc(9px + (22 - 9) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
}
.intagram-card .img-box .on-hover .content-box .option-box .price {
  font-weight: 600;
  font-size: calc(9px + (22 - 9) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
}
.intagram-card .img-box .on-hover .content-box .option-box .control {
  margin-top: calc(4px + (15 - 4) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));

  display: flex;

  align-items: center;
  gap: 5px;

  justify-content: center;
}
.intagram-card .img-box .on-hover .content-box .option-box .control a {
  padding: calc(2px + (11 - 2) * ((100vw - 320px) / (1920 - 320)))
    calc(4px + (12 - 4) * ((100vw - 320px) / (1920 - 320)));
  border-style: solid;
  border-width: 2px;
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.intagram-card .img-box .on-hover .content-box .option-box .control a {
  padding: calc(2px + (11 - 2) * ((100vw - 320px) / (1920 - 320)))
    calc(4px + (12 - 4) * ((100vw - 320px) / (1920 - 320)));
  border-style: solid;
  border-width: 2px;
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.intagram-card .img-box .on-hover .content-box .option-box > .btn-special {
  padding: 6px calc(9px + (32 - 9) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 6px;
  color: #fff;
}

.intagram-card:hover .img-box .on-hover .content-box {
  opacity: 1;
  cursor: pointer;
}
.intagram-card:hover .img-box .on-hover .content-box .share {
  opacity: 1;
}
[class="dark"] .btn-solid:hover,
[class="dark"] .btn-outline:hover,
[class="dark"] .btn-special:hover {
  color: #f0f0f0 !important;
}

/* fotter */
footer {
  background-color: #262626;
  padding: 50px 0;
}
.footer-up {
}
.footer-up h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.footer-up p {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
}
.footer-up input {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  padding: 10px 30px;
  outline: none;
}
.footer-up button {
  background: rgb(243, 78, 58);
  padding: 10px;
  outline: none !important;
  border: none;
  color: #fff;
  font-weight: 500;
  margin-left: 15px;
}
.footer-middle {
}
.middle-left {
}
.middle-left h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.middle-left p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-top: 21px;
  margin-bottom: 30px;
}

.social-icon-footer i {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}
.social-icon-footer i:hover {
  color: rgb(243, 78, 58);
}
.middle-right h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.middle-right a {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  display: block;
}

#filter {
  display: none;
}
#xmark {
  display: none;
}

/* media quirry mobile responsive */
@media (min-width: 320px) and (max-width: 1024px) {
  /* header */
  .nav-button {
    color: #fff !important;
  }
  .nav-button span {
    color: #fff !important;
  }
  .icon-box {
    display: flex;
    justify-content: space-between;
  }
  .icon-box i {
    font-size: 20px !important;
    padding: 14px;
  }

  .details-header {
    margin-top: 20%;
  }
  .details-section {
    padding: 20px 0;
  }
  .product-button {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  .btn-solid {
    padding: 10px 7%;
  }
  .btn-solid1 {
    padding: 10px 7%;
  }
  .review-box {
    display: block;
  }
  .review-img {
    margin-right: 3%;
    text-align: center;
    padding: 20px 0;
  }
  .like-slider-section {
    padding: 10px 0;
  }
  .shipping-section {
    padding: 10px 0;
  }
}
